* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-title-border-color: #338af3;
  --card-color-primary: #338af3;
  --card-bg-color: #202024;
  --bg-color: radial-gradient(circle, #12498c 0.1%, #1e1e1e 100%);
}

body.yellow {
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
  --card-bg-color: #1d1c19;
  --bg-color: radial-gradient(circle, #7b7232 0.1%, #1e1e1e 100%);
}

body.green {
  --card-title-border-color: #047c3f;
  --card-color-primary: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg-color: radial-gradient(circle, #02371c 0.1%, #1e1e1e 100%);
}

body {
  background-image: var(--bg-color);
}

body * {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 35px;
  text-align: center;
}

header img {
  width: 175px;
  animation: apeear 1.6s forwards;
}

.div-botao {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  animation: apeear 1.6s forwards;
}

#botao {
  height: 45px;
  width: 140px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  box-shadow: #00000033 0 3px 5px -1px, #00000024 0 6px 10px 0,
    #0000001f 0 1px 18px 0;
}

#cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.nome-times {
  display: flex;
  justify-content: space-between;
  color: #e1e1e6;
  font-size: 7px;
  text-transform: capitalize;
}

.card {
  padding: 32px 23px;
  text-align: center;
  height: fit-content;

  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
  opacity: 0;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 17px;

  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li img {
  width: 50px;
  height: 50px;
}

.card ul div + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

#botao:hover,
.nome-times h1:hover,
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

#botao,
.nome-times h1,
.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  animation: apeear 1.4s forwards;
}

a {
  text-decoration: none;
  color: var(--card-color-primary);
}

footer {
  text-align: center;
  margin-top: 30px;
  padding: 19px;
  color: #e1e1e6;
  border-top: 1px solid #e1e1e621;
}

@keyframes apeear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #cards {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  opacity: 0%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f2e2e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3e3c3c;
}
